body {
	font-family: 'K2D', sans-serif;
	background-color: #2C6BB1;
}

.jumbotron, .jumbotron-fluid {
	color: white;
	background-color: #2C6BB1;
}

h1.display-4, p.lead {
	text-align: center;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-group>.input-group-prepend {
    flex: 0 0 20%;
}
.input-group .input-group-text {
    width: 100%;
}

.container {
	width: 60%;
}

.container-2 {
	margin: 0 auto;
	width: 60%;
}

.calc-button {
	text-align: center;
	width: 80%;
	margin: 75px auto;
}

#calcButton {
	background-color: white;
	color: black;
}

div.jumbotron.jumbotron-fluid {
	margin-bottom: 0px;
}

.card-deck {
	justify-content: center;
}

.author-info {
	color: white;
	text-align: center;
}
 .card-header {
	text-align: center;
}
 .card-body {
	text-align: center;
	color: black;
}
 .scroll {
	max-height: 20rem;
    overflow-y: auto;
}

ul {
	list-style-type: none;
}