body {
	font-family: 'K2D', sans-serif;
	background-color: #2C6BB1;
	text-align: center;
}

.jumbotron, .jumbotron-fluid {
	color: white;
	background-color: #2C6BB1;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-group>.input-group-prepend {
    flex: 0 0 20%;
}

.input-group .input-group-text {
    width: 100%;
}

.container-2 {
	margin: 0 auto;
	width: 60%;
}

.calc-button {
	text-align: center;
	margin: 2.5rem auto;
}

#calcButton {
	background-color: white;
	color: black;
}

div.jumbotron.jumbotron-fluid {
	padding-top: 5rem;
	margin-bottom: 0;
}

.card-deck {
	justify-content: center;
	/* margins to offset the -15px set by bootstrap, otherwise the content will overflow */
	margin-left: 0px;
	margin-right: 0px;
	max-height: 19rem; /* about 300px at default 16px = 1rem */
}

.author-info {
	color: white;
	text-align: center;
}

 .card-header {
	text-align: center;
}

 .card-body {
	text-align: center;
	color: black;
}

 .scroll {
	max-height: 20rem;
    overflow-y: auto;
}

ul {
	list-style-type: none;
}

#header-message {
	margin-top: 2rem;
}

.icon {
	width: 3rem;
	height: 3rem;
}

.icon-arrow-circle-left {
	fill: white;
}

#arrow-box:hover {
	cursor: pointer;
}

#button-and-headline {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
}

#arrow-box {
	margin-right: 2rem;
}

.display-4 {
	
}