body {
	font-family: 'K2D', sans-serif;
	background-color: #2C6BB1;
	text-align: center;
}

.jumbotron, .jumbotron-fluid {
	color: white;
	background-color: #2C6BB1;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-group>.input-group-prepend {
    flex: 0 0 20%;
}

.input-group .input-group-text {
    width: 100%;
}

.input-group-text {
	border: 0;
	border-radius: 0.4rem;
}

.container-2 {
	margin: 0 auto;
	width: 60%;
	padding-bottom: 2rem;
}

div.jumbotron.jumbotron-fluid {
	padding-top: 5rem;
	margin-bottom: 0;
}

.card-deck {
	justify-content: center;
	/* margins to offset the -15px set by bootstrap, otherwise the content will overflow */
	margin-left: 0px;
	margin-right: 0px;
	max-height: 19rem; /* about 300px at default 16px = 1rem */
	
}

.card {
	transition: all 0.5s;
}

.card:hover {
	transform: scale(1.1);
}

.card:hover .card-header {
	background-color: #FFAD2F;
}

.author-info {
	color: white;
	text-align: center;
}

 .card-header {
	text-align: center;
	transition: background-color 0.5s;
}

 .card-body {
	text-align: center;
	color: black;
}

 .scroll {
	max-height: 20rem;
    overflow-y: auto;
}

ul {
	list-style-type: none;
}

#header-message {
	margin-top: 2rem;
}

#button-and-headline {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
}

.icon {
	width: 3rem;
	height: 3rem;
}

.icon-arrow-circle-left {
	fill: white;
	transition: fill 0.5s;
}

#arrow-box-back:hover .icon-arrow-circle-left {
	fill: #FFAD2F;
}

#arrow-box-back:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#arrow-box-back {
	margin-right: 2rem;
	transition: all 0.5s;
}

.icon-arrow-circle-right {
	fill: white;
	transition: fill 0.5s;
}

#arrow-box-forward:hover .icon-arrow-circle-right {
	fill: #FFAD2F;
}

#arrow-box-forward:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#arrow-box-forward {
	transition: all 0.5s;
}

input[type="text"], textarea {
	outline: none;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
}

.focused {
	color: black;
	background-color: #FFAD2F;
}

.focused-border {
	border: 3px solid #FFAD2F !important;
	border-radius: 0.7rem;
}

.form-control {
	border-radius: 0.4rem;
}

a {
	cursor: pointer;
	color: white;
	transition: all 0.5s;
	text-decoration: none;
}

a:hover {
	color: #FFAD2F;
	text-decoration: none;
}

/*.list-group-item {
	height: 100%;
}

.list-group {
	height: 100%;
}*/